* {
	color: #;
	outline: solid red 1px;
}

body {
	background: #c1c1c1;
	background-image: url(./../images/background.png)

}

.panel-heading {
	font-size: 22px;
	font-weight: bold;
	width:100%; 
	height: auto; 
	background: black;
}

#walloftext {
	padding: 26px;
	font-size: 18px;
	line-height: 200%;
}

#face {
	float: left;
	padding: 10px 26px 26px 0px;
}

#styledimg {
	padding: 2px;
}

.footer {
	background: #fcfcfc;
	text-align: center;
	padding: 14px;
	position: absolute;
	width: 100%;
    bottom: 0;
    margin: 0 auto;

}