* {
	color: #;
}

body {
	background: #c1c1c1;
	background-image: url(./../images/background.png)
}

#secondheader {
	{ width:100%; height:1px; background: black }
}

.inputs {
  
}

#walloftext {
	line-height: 24px;
}

.footer {
	background: #fcfcfc;
	text-align: center;
	padding: 14px;
	position: absolute;
	width: 100%;
    bottom: 0;
    margin: 0 auto;

}