* {
	color: #;
	outline: solid red 1px;
}

body {
	background: #c1c1c1;
	background-image: url(./../images/background.png)

}

#headerfooter {
	width: 100%;
	height: 100%;
}

.panel-heading {
	font-size: 26px;
	font-weight: bold;
	width:100%; 
	height: auto; 
	background: black;
}

#walloftext {
	padding: 26px;
	font-size: 18px;
	line-height: 200%;
}

#face {
	float: left;
	padding: 10px 26px 26px 0px;
}

.inputs {
	padding: 20px;
}





.portfolios {
	display: inline-block; 
	position: relative; 
	width: 80%;
	height: 80%;
	padding: 10px;
}

#portfolioimg {
	padding: 24px 18px;
	width: 90%;
	height: 90%;
	display:block;
	background-repeat: no-repeat;
	background-position: center top;
}

#portfolioimgtext {
	position: absolute; 
	float: left;
	top: 110px;
	left: 27px;
	padding: 10px; 
	background: rgba(252, 252, 252, 0.8);
	font-size: 22px;
	background-size: auto; 
	height: auto;
}







#textbox {
	width: 100%;
	height: 100%;
}

/*connect & footer*/

.connect {
	padding: 2px;
}

#styledimg {
	padding: 2px;
}

.footer {
	background: #fcfcfc;
	text-align: center;
	padding: 14px;
	position: absolute;
	width: 100%;
    bottom: 0;
    margin: 0 auto;

}